.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.header {
  background: #ecd03b;
  // background: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  border-radius: 5px;
}

.title {
  font-weight: 500;
  font-size: 19px;
}

.content {
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.item-card {
  max-width: 375px;
}
.note {
  padding: 10px;
}
